---js
{
"title": "Bill Pay",
"layout": "layouts/project.njk",
"date": "2020-07-04",
"sections": ["Project Overview", "User Persona", "Research", "Sprint Planning", "Design Sprint 1", "Design Sprint 2", "Design Sprint 3", "Design Sprint 4", "What's Next?"]
}
---

<section id="section1">
  <h1>Bill Pay</h1>
  <div class="main-description">Allows customers to easily manage payments and billing for their Insurance Policy</div>
  <div class="underline"></div>
  <div>
    <h4>About the Project</h4>
    <p>This portfolio piece is <span class="black">based on a project</span> I worked on for Employers Insurance Group (NYSE:EIG). Employers is a Worker's Compensation Insurance Carrier for small businesses in the United States.</p>
  </div>
  <div>
    <h4>Project Timeline</h4>
    <div class="flex">
      <p class="semi-bold italic margin-0">September 2019</p>
      <div class="arrow"><img src="/img/arrow.svg" width="60px" alt="arrow image"></div>
      <p class="semi-bold italic margin-0" style="margin-left:0;">April 2020</p>
    </div>
  </div>
  <div>
    <h4>Interesting Facts</h4>
    <p>The project team used Agile Scrum Methodology through the project lifecyle. I was the <span class="black">sole User Experience Designer</span>, and participated in all scrum ceremonies and workshops.</p>
    <p>The project team included approximately 10 team members across 3 U.S. timezones. I worked both remotely and from the company's office in Kansas City, MO.</p>
  </div>
  <div>
    <h4>My Role</h4>
    <ul>
      <li>User Research &amp; Usability Testing</li>
      <li>User Experience &amp; User Interface Design</li>
      <li>Contributed to HTML &amp; CSS within Angular v8.0+</li>
      <li>Created &amp; Maintained a Design System</li>
      <li>Contributed to a UI Component Library</li>
    </ul>
    <div style="padding-top:2em;">
      <div class="scaling-svg-container" style="padding-bottom:50%;">
        {% include "svg/my-role.svg" %}
      </div>
      <h6>My <span class="black">UX Designer role</span> as a full-time member of the Agile Scrum Team</h6>
    </div>
  </div>
</section>

<section id="section2">
  {% include "sectionheaders/numberflag1.njk" %}
  <div class="side-by-side">
    <div class="side">
      <div class="intro">
        <h2>Megan</h2>
        <h5 class="margin-top-0" style="font-size:24px;">The Boutique Owner</h5>
        <div style="padding-top:2em;"><img src="/img/billpay/megan-small.svg" height="300px" alt="girl image"></div>
      </div>
      <p>Megan <span class="black">owns a trendy clothing boutique</span> with 1 full-time employee and 2 part-time employees.</p>
      <p>The boutique is in a prime location, so Megan and her team are always busy with customers in the store. Whenever possible, they grab a few minutes to manage the store's online orders.</p>
    </div>
    <div>
      <h4>Goals</h4>
        <p>Megan wants to run a successful business, but she also wants to have time for a life outside of work.</p>
      <h4>Expectations</h4>
        <p>Megan expects to easily manage her insurance policy from her mobile device, since she rarely has time to work from her desk.</p>
      <h4>Challenges</h4>
        <p>Her insurance policy is affordable, but the company doesn't provide easy-to-use tools to help her manage her payments.</p>
      <h4>Frustrations</h4>
        <p>Megan gets frustrated when tasks take longer than necessary, or are too difficult to figure out.</p>
        <p class="italic bold">"The system doesn't allow me to schedule my payment for later. Can you help me get this done?"</p>
      <h4>Needs</h4>
        <p>Megan needs a payment app for easily managing payments and billing for her insurance policy.</p>
    </div>
  </div>
</section>

<section id="section3">
  {% include "sectionheaders/numberflag2.njk" %}
  <div class="section-intro">
    <h2>Initial user research highlighted features needed to provide value to the customer.</h2>
    <h5>I analyzed <span class="black">138 user comments</span> collected from intercept survey results, conducted <span class="black">4 in-person interviews</span> with Customer Service Stakeholders, and performed a <span class="black">heuristic evaluation</span> of the legacy application.</h5>
  </div>
  <div class="side-by-side">
    <div class="side">
      <div class=""><img src="/img/billpay/affinity-mapping.svg" alt="affinity map"></div>
      <h6><span class="black">Affinity Mapping</span> was used to organize the survey and interview data.</h6>
    </div>
    <div class="side">
      <div class=""><img src="/img/billpay/old-ebilling.png" alt="screenshot of legacy application"></div>
      <h6>The <span class="black">legacy application</span> didn't provide many options for the customer.</h6>
    </div>
  </div>
</section>

<section id="section4">
  {% include "sectionheaders/numberflag3.njk" %}
  <div class="side-by-side">
    <div class="section-intro side">
      <h2>The initial user research was used to guide the sprint planning process.
      <h5>Design Sprints focused on 4 areas that would help Megan <span class="black">easily manage her payments</span> on-the-go.</h5>
      <ol class="numbered-list">
        <li>Save a payment method to use later</li>
        <li>Make a flexible one-time payment</li>
        <li>Setup AutoPay with a card or bank account</li>
        <li>View upcoming due dates and payment history</li>
      </ol>
    </div>
    <div class="sprint-planning-large center"><img src="/img/billpay/megan-large.svg" alt="full girl image"></div>
  </div>
</section>

<section id="section5">
  {% include "sectionheaders/numberflag4.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Save a payment account to use later</h2>
        <p>Megan gets frustrated with unnecessary "busy work", so saving a payment account to use later prevents her from having to enter the same information more than once.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I hate it when companies ask me for the same information over and over. Can't they store it for later?"</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan doesn't recognize the payment accounts she previously saved.</h2>
      <h5><span class="black">Virtual usability testing</span> revealed 2 of the 3 policyholders tested were not able to easily recognize their saved payment accounts.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Saved payment accounts were displayed in a text list on the home screen.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>I was able to <span class="black">easily solve this problem</span> by visually displaying the payment accounts as images.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The home screen was redesigned to display saved payment accounts as a card or check.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan scrolling through the images of her saved payment accounts.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/scrollAccounts.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Saved payment accounts are displayed as images, and are scrollable.</h6>
    </div>
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan wants to save her new debit card, but wonders if <span class="black">Add Card</span> is for both debit &amp; credit.</h2>
      <h5>Further <span class="black">usability testing</span> revealed all 3 policyholders tested were initially unsure if Add Bank was for adding checking or savings, and if Add Card was for adding debit or credit.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount3.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Add Bank and Add Card buttons were displayed on the home screen.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>I was able to <span class="black">make the process more intuitive</span> by replacing the buttons with an icon.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount4.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The Add Bank and Add Card buttons were consolidated into an Add icon.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan starting the process of saving her debit card.</h2>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/newButton.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The Add icon is used to add a new payment account.</h6>
    </div>
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan gets annoyed entering a bunch of information the company already has stored.</h2>
      <h5>During <span class="black">virtual usability testing</span>, 3 of the 4 policyholders tested commented on the amount of data they had to manually enter.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1PaymentInfo1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The initial design included all form fields that were present in the legacy application.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>I was able to <span class="black">make the process easier</span> by reducing manual data entry.</h2>
      <h5><span class="black">Interviews with 2 stakeholders</span> revealed eliminating too much data would increase the company's payment processing fees, so we auto-filled the application with policy info from another system instead.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1PaymentInfo2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Policy information from another system was used to auto-fill the Billing Information section.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">final interactive prototype</span> shows Megan saving her debit card to use later.</h2>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/sprint1Full.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> It's simple to add a new account, and edit the billing info if needed.</h6>
    </div>
  </div>
</section>

<section id="section6">
  {% include "sectionheaders/numberflag5.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Make a flexible one-time payment</h2>
        <p>As a small business owner with variable expenses, Megan needs the flexibility to pay more or less than the amount due and schedule a one-time payment in advance.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"It seems like all my bills are due at once, so I need an insurance company that lets me make flexible payments."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan finds the two buttons for making a payment confusing.</h2>
      <h5><span class="black">Virtual usability testing</span> revealed 1 of the 3 policyholders tested thought the Pay Other button was used to pay on a second policy.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint2PaymentButton1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> One button was for paying the amount due, and the other was for entering a different amount.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The two buttons were consolidated into a Make a Payment button.</h2>
      <h5>This finding was likely unique to a small group of customers holding multiple policies, but it was a <span class="black">good opportunity to improve the design</span>.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint2PaymentButton2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The user is asked about the payment amount after clicking the Make a Payment button.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan making a payment for less than the amount due.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/payLess.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> A payment can be made for any amount.</h6>
    </div>
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan is in the process of making a payment, but the payment account she wants to use isn't saved yet.</h2>
      <h5><span class="black">Usability testing</span> found a flaw in the design where a payment account had to be saved before making a payment.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint2AddNew1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Only saved payment accounts could be used to make payments.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>I was able to <span class="black">easily solve this problem</span> by inserting a button for adding a new account while making a payment.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint2AddNew2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The Add New button allowed the user to enter a new account without starting over.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">final interactive prototype</span> shows Megan adding a new payment account while making a payment.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/addAccountDuringPayment.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> A new card is added while making a payment.</h6>
    </div>
  </div>
</section>

<section id="section7">
  {% include "sectionheaders/numberflag6.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Setup AutoPay with a card or bank account</h2>
        <p>Megan is busy running her business, so she needs the ability to setup AutoPay for her regular monthly payments.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I want to set it and forget it so I don't have to worry about missing a payment due date again."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan decides she wants to setup AutoPay while making a payment, but doesn't see it as an option.</h2>
      <h5><span class="black">Virtual usability testing</span> revealed policyholders were likely to look for AutoPay options while making a one-time payment.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint3AutoPay1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> There was no option to setup AutoPay while making a payment.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>I was able to <span class="black">easily solve this problem</span> by adding a link for AutoPay to the payment screen.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint3AutoPay2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> A link to set up AutoPay is now part of the one-time payment process.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan using the link to setup AutoPay instead of making a one-time payment.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/autoPay1.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> AutoPay is setup from the payment screen.</h6>
    </div>
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Megan knows she setup AutoPay the last time she logged in, but <span class="black">can't find the info</span> anywhere.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint3AutoPay3.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The home screen didn't indicate that AutoPay was enabled.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Details were added to help policyholders <span class="black">easily setup and manage</span> AutoPay at-a-glance.</h2>
    </div>
    <div>
      {% include "svg/billpay/sprint3AutoPay4.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Now it's clear when AutoPay is enabled, and if the next payment will be automatically deducted.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan managing her AutoPay from the home screen.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/autoPay2.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> AutoPay information is easily managed, and available at-a-glance from the home screen.</h6>
    </div>
  </div>
</section>

<section id="section8">
  {% include "sectionheaders/numberflag7.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>View upcoming due dates &amp; payment history</h2>
        <p>Megan needs to easily access the information that helps her manage the payments on her insurance policy.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I just need the ability to view my past and future payments, and don't ever look at all that other policy stuff."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The legacy application displayed all available policy information.</h2>
      <h5>This was included in the initial wireframe, but it <span class="black">cluttered the UI</span>, and made understanding the data difficult.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint4PaymentInfo1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The UI was cluttered with all the info from the legacy system.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Any data not important to the user was removed to declutter the UI.</h2>
      <h5><span class="black">Interviews with 3 policyholders</span> helped me filter out unnecessary information that doesn't help the user accomplish their primary goal of making a payment.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint4PaymentInfo2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Removing unnecessary data helped clean up the UI.</h6>
    </div>  
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">interactive prototype</span> shows Megan using the main menu to access upcoming due dates and payment history.</h2>
      <h5></h5>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/billpay/accountActivity.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The clean UI makes understanding payment and billing info easy.</h6>
    </div>
  </div>
</section>

<section id="section9">
  {% include "sectionheaders/numberflag8.njk" %}
  <div class="section-intro">
    <h2>Future plans include:</h2>
    <ol class="numbered-list">
      <li>Monitor customer service requests, Google Analytics, user surveys, etc. for UX issues in production.</li>
      <li>Ability to pay with Apple Pay, Samsung Pay, PayPal, etc.</li>
      <li>Integrate with popular bank applications to further reduce manual data entry.</li>
      <li>Receive email and text alerts for upcoming payments.</li>
    </ol>
  </div>
</section>