---js
{
"title": "Bill Pay",
"layout": "layouts/project.njk",
"date": "2020-07-04",
"sections": ["Project Overview", "User Persona", "Research", "Sprint Planning", "Design Sprint 1", "Design Sprint 2", "Design Sprint 3", "Design Sprint 4", "What's Next?"]
}
---

<section id="section1">
  <h1>Bill Pay</h1>
  <div class="main-description">Allows customers to easily manage payments and billing for their Insurance Policy</div>
  <div class="underline"></div>
  <div>
    <h4>About the Project</h4>
    <p>This portfolio piece is <span class="black">based on a project</span> I worked on for Employers Insurance Group (NYSE:EIG). Employers is a Worker's Compensation Insurance Carrier for small businesses in the United States.</p>
  </div>
  <div>
    <h4>Project Timeline</h4>
    <div class="flex">
      <p class="semi-bold italic margin-0">September 2019</p>
      <div class="arrow"><img src="/img/arrow.svg" width="60px" alt="arrow image"></div>
      <p class="semi-bold italic margin-0" style="margin-left:0;">April 2020</p>
    </div>
  </div>
  <div>
    <h4>Interesting Facts</h4>
    <p>The project team used Agile Scrum Methodology through the project lifecyle. I was the <span class="black">sole User Experience Designer</span>, and participated in all scrum ceremonies and workshops.</p>
    <p>The project team included approximately 10 team members across 3 U.S. timezones. I worked both remotely and from the company's office in Kansas City, MO.</p>
  </div>
  <div>
    <h4>My Role</h4>
    <ul>
      <li>User Research &amp; Usability Testing</li>
      <li>User Experience &amp; User Interface Design</li>
      <li>Contributed to HTML &amp; CSS within Angular v8.0+</li>
      <li>Created &amp; Maintained a Design System</li>
      <li>Contributed to a UI Component Library</li>
    </ul>
    <div style="padding-top:2em;">
      <div class="scaling-svg-container" style="padding-bottom:50%;">
        {% include "svg/my-role.svg" %}
      </div>
      <h6>My <span class="black">UX Designer role</span> as a full-time member of the Agile Scrum Team</h6>
    </div>
  </div>
</section>

<section id="section2">
  {% include "sectionheaders/numberflag1.njk" %}
  <div class="side-by-side">
    <div class="side">
      <div class="intro">
        <h2>Megan</h2>
        <h5 class="margin-top-0" style="font-size:24px;">The Boutique Owner</h5>
        <div style="padding-top:2em;"><img src="/img/billpay/megan-small.svg" height="300px" alt="girl image"></div>
      </div>
      <p>Megan <span class="black">owns a trendy clothing boutique</span> with 1 full-time employee and 2 part-time employees.</p>
      <p>The boutique is in a prime location, so Megan and her team are always busy with customers in the store. Whenever possible, they grab a few minutes to manage the store's online orders.</p>
    </div>
    <div>
      <h4>Goals</h4>
        <p>Megan wants to run a successful business, but she also wants to have time for a life outside of work.</p>
      <h4>Expectations</h4>
        <p>Megan expects to easily manage her insurance policy from her mobile device, since she rarely has time to work from her desk.</p>
      <h4>Challenges</h4>
        <p>Her insurance policy is affordable, but the company doesn't provide easy-to-use tools to help her manage her payments.</p>
      <h4>Frustrations</h4>
        <p>Megan gets frustrated when tasks take longer than necessary, or are too difficult to figure out.</p>
        <p class="italic bold">"The system doesn't allow me to schedule my payment for later. Can you help me get this done?"</p>
      <h4>Needs</h4>
        <p>Megan needs a payment app for easily managing payments and billing for her insurance policy.</p>
    </div>
  </div>
</section>

<section id="section3">
  {% include "sectionheaders/numberflag2.njk" %}
  <div class="section-intro">
    <h2>Initial user research highlighted features needed to provide value to the customer.</h2>
    <h5>I analyzed <span class="black">138 user comments</span> collected from intercept survey results, conducted <span class="black">4 in-person interviews</span> with Customer Service Stakeholders, and performed a <span class="black">heuristic evaluation</span> of the legacy application.</h5>
  </div>
  <div class="side-by-side">
    <div class="side">
      <div class=""><img src="/img/billpay/affinity-mapping.svg" alt="affinity map"></div>
      <h6><span class="black">Affinity Mapping</span> was used to organize the survey and interview data.</h6>
    </div>
    <div class="side">
      <div class=""><img src="/img/billpay/old-ebilling.png" alt="screenshot of legacy application"></div>
      <h6>The <span class="black">legacy application</span> didn't provide many options for the customer.</h6>
    </div>
  </div>
</section>

<section id="section4">
  {% include "sectionheaders/numberflag3.njk" %}
  <div class="side-by-side">
    <div class="section-intro side">
      <h2>The initial user research was used to guide the sprint planning process.
      <h5>Design Sprints focused on 4 areas that would help Megan <span class="black">easily manage her payments</span> on-the-go.</h5>
      <ol class="numbered-list">
        <li>Save a payment method to use later</li>
        <li>Make a flexible one-time payment</li>
        <li>Setup AutoPay with a card or bank account</li>
        <li>View upcoming due dates and payment history</li>
      </ol>
    </div>
    <div class="sprint-planning-large center"><img src="/img/billpay/megan-large.svg" alt="full girl image"></div>
  </div>
</section>





<section id="section5">
  {% include "sectionheaders/numberflag4.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Save a payment account to use later</h2>
        <p>Megan gets frustrated with unnecessary "busy work", so saving a payment account to use later will prevent her from having to enter the same information more than once.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I hate it when companies ask me for the same information over and over. Can't they store it for later?"</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="section-intro">
    <h2>Megan dreads paying her bill each month, because it <span class="black">takes too much time</span> to enter all the payment info.</h2>
    <h5>One of the top complaints from customers about the legacy system was the amount of time it took to make a simple payment.</h5>
  </div>
  {% include "svg/billpay/sprint1InitialWires.svg" %}
  <h6>Initial wireframes for adding a new payment account</h6>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Megan can easily save &amp; manage her payment accounts from the home screen.</h2>
      <h5>1. Saved payment accounts are displayed on the home screen.</h5>
      <h5>2. Buttons provide an easy way to add a new payment account.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount1.svg" %}
      <h6><span class="black">Phase 1 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Wireframe of My Account (home) screen</h6>
    </div>  
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Megan can easily save &amp; manage her payment accounts from the home screen.</h2>
      <h5>1. Saved payment accounts are displayed on the home screen.</h5>
      <h5>2. Buttons provide an easy way to add a new payment account.</h5>
    </div>
    <div>
      {% include "svg/billpay/sprint1MyAccount2.svg" %}
      <h6><span class="black">Phase 2 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Wireframe of My Account (home) screen</h6>
    </div>  
  </div>

  <div>
    <video width="323" height="700" controls>
      <source src="/video/billpay/sprint1MyAccount1.mp4" type="video/mp4">
      Sorry, your browser doesn't support videos.
    </video>
    <h6><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Scroll through saved payment accounts</h6>
  </div>

  <div>
    <video width="323" height="700" controls>
      <source src="/video/billpay/sprint1MyAccount2.mp4" type="video/mp4">
      Sorry, your browser doesn't support videos.
    </video>
    <h6><span class="black">Phase 3 <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Add a new payment account</h6>
  </div>

  <div class="underline-sm"></div>

  {% include "svg/billpay/sprint1PaymentInfo1.svg" %}
  {% include "svg/billpay/sprint1PaymentInfo2.svg" %}



  <div class="section-intro">
    <h2>I conducted a <span class="black">workshop with 3 stakeholders</span> to document the data involved in processing a payment.</h2>
    <p>We placed each data point into 1 of 3 categories:</p>
    <ol class="numbered-list">
      <li><span class="black">Must Have</span><br>Data that is required to process the payment.</li>
      <li><span class="black">Should Have</span><br>Data that we should have to process the payment.</li>
      <li><span class="black">Nice to Have</span><br>Bonus data that we'd like to collect.</li>
    </ol>
  </div>
  <div class="flex wrap space-around">
    <div>
      <h4>Must Have</h4>
      <div><img src="/img/billpay/must-have.png" width="275px" alt="must-have-items"></div>
    </div>
    <div>
      <h4>Should Have</h4>
      <div><img src="/img/billpay/should-have.png" width="275px" alt="should-have-items"></div>
    </div>
    <div>
      <h4>Nice to Have</h4>
      <div><img src="/img/billpay/nice-to-have.png" width="275px" alt="nice-to-have-items"></div>
    </div>
  </div>
  <div class="underline-sm"></div>

  <div class="section-intro">
    <h2>We wanted to make the process easy by <span class="black">reducing the amount of data</span> the customer enters manually.</h2>
    <div>
      <h4 style="margin-top:60px;">The Problem</h4>
      <h5 class="margin-top-10">Eliminating data from the <span class="black">Must Have</span> and <span class="black">Should Have</span> categories would increase payment processing fees.</h5>
    </div>
    <div>
      <h4 style="margin-top:60px;">The Solution</h4>
      <h5 class="margin-top-10"><span class="black">Auto-fill the application</span> with billing information from another system to reduce manual work for the user.</h5>
    </div>
  </div>
  <div class="scaling-svg-container" style="padding-bottom:30%;">
    {% include "svg/billpay/autofill-flow.svg" %}
  </div>
  <h6><span class="black">User flow</span> for saving a payment method to use later. <span class="black">Auto-filled</span> billing section is displayed in red.</h6>
  <div class="underline-sm"></div>

</section>




<section id="section6">
  {% include "sectionheaders/numberflag5.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Make a flexible one-time payment</h2>
        <p>Megan is a small business owner with variable expenses. She needs to make a partial payment now, and pay the rest in two weeks.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"It seems like all my bills are due at once, so I need an insurance company that lets me make flexible payments."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="section-intro">
    <h2><span class="black">Data collected</span> by the Customer Service Center helped us understand the top reasons for phone calls from customers like Megan.</h5>
  </div>

  <div class="side-by-side align-items">
    <div class="side center"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
    <div>
      <h5>As a small business owner with variable expenses, Megan needs the flexibility to <span class="black">pay more or less than the amount due</span> on her policy balance.</h5>
      <h5>She also needs the ability to <span class="black">schedule a one-time payment in advance</span> so she doesn't have to worry about making a payment on a specific date.</h5>
    </div>
  </div>
  <div class="underline-sm"></div>
</section>

<section id="section7">
  {% include "sectionheaders/numberflag6.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Setup AutoPay with a card or bank account</h2>
        <p>Megan is busy running her business, so she needs the ability to setup AutoPay for her regular monthly payments.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I want to set it and forget it so I don't have to worry about missing a payment due date again."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>
</section>

<section id="section8">
  {% include "sectionheaders/numberflag7.njk" %}

  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>View upcoming due dates &amp; payment history</h2>
        <p>Megan needs to easily access the information that helps her manage the payments on her insurance policy.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/billpay/megan-small.svg" height="200px" alt="girl image"></div>
        <p class="italic">"I just need the ability to view my past and future payments, and don't ever look at all that other policy stuff."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>
</section>






<section id="section9">
  {% include "sectionheaders/numberflag8.njk" %}
  <div class="section-intro">
    <h2>Future plans include:</h2>
    <ol class="numbered-list">
      <li>Monitor customer service requests, Google Analytics, user surveys, etc. for UX issues in production.</li>
      <li>Ability to pay with Apple Pay, Samsung Pay, PayPal, etc.</li>
      <li>Integrate with popular bank applications to further reduce manual data entry.</li>
      <li>Receive email and text alerts for upcoming payments.</li>
    </ol>
  </div>
</section>