---js
{
"title": "parkIt!",
"layout": "layouts/project.njk",
"date": "2019-03-01",
"sections": ["Project Overview", "Branding", "User Personas", "Design Sprint 1", "Design Sprint 2", "Design Sprint 3", "Design Sprint 4", "Design Sprint 5"]
}
---

<section id="section1">
  <h1>parkIt!</h1>
  <div class="main-description">Makes it easy for customers to find and manage parking with a membership-based app</div>
  <div class="underline"></div>
  <div>
    <h4>About the Project</h4>
    <p><span class="black">parkIt!</span> was a freelance project for a Property Management Company in Denver, Colorado. A year prior to the project start, the company began offering unlimited monthly parking memberships with access to 20+ parking garages. The membership program wasn't very successful though, so they invested in branding &amp; technology to attract more customers and expand their business.</p>
  </div>
  <div>
    <h4>Project Timeline</h4>
    <div class="flex">
      <p class="semi-bold italic margin-0">September 2018</p>
      <div class="arrow"><img src="/img/arrow.svg" width="60px" alt="arrow image"></div>
      <p class="semi-bold italic margin-0" style="margin-left:0;">March 2019</p>
    </div>
  </div>
  <div>
    <h4>Interesting Facts</h4>
    <p>The project team included 5 team members, and was 100% remote. As the <span class="black">only User Experience Designer</span> on the team, I was solely responsible for all design work, and also did most of the HTML &amp; CSS.</p>
  </div>
  <div>
    <h4>My Role</h4>
    <ul>
      <li>User Research</li>
      <li>Branding</li>
      <li>User Experience &amp; User Interface Design</li>
      <li>HTML &amp; CSS within Ionic and Angular</li>
    </ul>
  </div>
</section>

<section id="section2">
  {% include "sectionheaders/numberflag1.njk" %}

  <div class="section-intro">
    <h2>I created the primary &amp; secondary logo, app icon, notification icon, typography &amp; color palettes, and app loading screen.</h2>
  </div>
  {% include "svg/parkIt/branding.svg" %}
  <h6><span class="black">Branding <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> I was responsible for creating all branding elements.</h6>

  <div class="moped-container">
    <img src="/img/parkIt/loadingPhone.png" alt="image of phone">
    <div class="moped">
      <img src="/img/parkIt/moped.svg" width="" alt="image of moped">
    </div>
    <h6><span class="black">Loading Screen <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Designed and built by me.</h6>
  </div>

</section>

<section id="section3">
  {% include "sectionheaders/numberflag2.njk" %}

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Meet Ting</h2>
      <h5>Ting has worked for ZCorp for 5 years in Office Equipment Sales. She usually has 5 or 6 meetings scheduled daily, and finding parking was always an issue until she signed up for her parking membership a year ago.</h5>
      <h5>It’s great to have so many parking options available, but dealing with the membership is always a headache.</h5>
    </div>
    <div class="side-50 center">
      <img src="/img/parkIt/ting-full.svg" height="450px" alt="image of woman standing">
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Meet Max</h2>
      <h5>Max just got hired at ZCorp in Office Equipment Sales too. He’ll be traveling to different locations around the city each day, so finding parking will definitely be an issue.</h5>
      <h5>Ting tells him about the parking membership, and he signs up using the brand new <span class="black">parkIt!</span> app.</h5>
    </div>
    <div class="side-50 center">
      <img src="/img/parkIt/max-full.svg" height="450px" alt="image of man standing">
    </div>  
  </div>
</section>

<section id="section4">
  {% include "sectionheaders/numberflag3.njk" %}

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Signing up for a parking membership was a manual process for Ting.</h2>
      <h5 class="margin-bottom-0">During my initial user research, I interviewed the administrative employee responsible for manually processing new membership applications.</h5>
    </div>
    <div>
      {% include "svg/parkIt/ting-card.svg" %}
    </div>  
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/journey1.svg" %}
  <h6><span class="black">Ting <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Signing up for a new membership involved several manual steps and took 3 business days.</h6>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Max signs up for a parking membership with the brand new <span class="black">parkIt!</span> app.</h2>
    </div>
    <div>
      {% include "svg/parkIt/max-card.svg" %}
    </div> 
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/journey-max.svg" %}
  <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Signing up for a new membership was quick &amp; easy with the <span class="black">parkIt!</span> app.</h6>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">The interactive prototype shows Max using the app to sign up for a parking membership.</h2>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/parkIt/signup.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> The new signup process takes minutes, not days.</h6>
    </div>
  </div>

  <div class="section-intro">
    <h2>And here's a closer look at some of the screens shown in the video above.</h2>
  </div>
  <img src="/img/parkIt/signup.png" width="" alt="image signup process">
  <h6>Selected screens of high-fidelity prototype for the new signup process.</h6>
</section>

<section id="section5">
  {% include "sectionheaders/numberflag4.njk" %}

  <img src="/img/parkIt/ting-tiny.svg" width="100px" alt="image of woman">
  <div class="side-by-side">
    <div class="section-intro side-margin">
      <h2 class="margin-top-0">Ting left her key card at home, so she's finding street parking before she’s late to an important meeting.</h2>
      <h5>During my initial user research, I interviewed a customer who told me how this happened to her regularly.</h5>
    </div>
    <div>
      <img src="/img/parkIt/house.svg" width="450px" alt="image of house">
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">Max uses the barcode in the <span class="black">parkIt!</span> app to park in the garage near his next meeting.</h2>
      <h5>Max arrives early to meet with his most important client since parking was such a breeze, so he decides to stop for a coffee.</h5>
    </div>
    <div class="side-50">
      {% include "svg/parkIt/scan.svg" %}
      <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> No key card is needed. Just scan the barcode on a phone or watch.</h6>
    </div> 
  </div>
</section>

<section id="section6">
  {% include "sectionheaders/numberflag5.njk" %}

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Ting hopes the garage near her next meeting in a busy downtown area isn’t full when she gets there.</h2>
      <h5 class="margin-bottom-0">During a customer interview, I learned there are many available parking options, but a few tend to fill up during peak hours.</h5>
    </div>
    <div>
      {% include "svg/parkIt/ting-card.svg" %}
    </div>  
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/journey2.svg" %}
  <h6><span class="black">Ting <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> There's no way to know if a garage is full until she gets there.</h6>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Max uses the <span class="black">parkIt!</span> app to find the nearest garage and check real-time space availability.</h2>
    </div>
    <div>
      {% include "svg/parkIt/max-card.svg" %}
    </div> 
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/parking-wires.svg" %}
  <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Searches for nearby garages and views real-time data for each.</h6>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">The interactive prototype shows Max finding a nearby parking garage with available spaces.</h2>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/parkIt/parking.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Easily finds available parking nearby with directions.</h6>
    </div>
  </div>
  <div style="height:50px;"></div>

  <div class="section-intro">
    <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
    <h2 class="margin-top-0">If Max is driving, he doesn’t have to open the app. He just says, “Hey Siri, where’s the nearest <span class="black">parkIt!</span> garage?”.</h2>
  </div>
  <div class="flex space-around wrap">
    <div>
      <img src="/img/parkIt/siri1.png" width="300px" alt="image of phone">
      <h6><span class="black">1. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Max gets Siri's attention.</h6>
    </div>
    <div>
      <img src="/img/parkIt/siri2.png" width="300px" alt="image of phone">
      <h6><span class="black">2. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Max asks Siri to find nearby parking.</h6>
    </div>
    <div>
      <img src="/img/parkIt/siri3.png" width="300px" alt="image of phone">
      <h6><span class="black">3. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Siri answers and offers directions.</h6>
    </div>
  </div>
</section>

<section id="section7">
  {% include "sectionheaders/numberflag6.njk" %}

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/ting-tiny.svg" width="100px" alt="image of woman">
      <h2 class="margin-top-0">Ting doesn’t want to forget where she parked, so she snaps a photo of the parking space number.</h2>
      <h5>During my initial user research, I interviewed a customer who told me how he does this every time he parks in a garage.</h5>
    </div>
    <div>
      {% include "svg/parkIt/space-number.svg" %}
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">Max uses the <span class="black">parkIt!</span> app to see his parking history.</h2>
    </div>
    <div>
      <img src="/img/parkIt/history.png" width="375px" alt="image of history screen">
      <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Parking history ensures he never forgets where he parked.</h6>
    </div> 
  </div>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">After entering a garage, Max receives a notification prompting him to enter his parking space number so he doesn’t forget where he parked.</h2>
    </div>
    <div>
      <img src="/img/parkIt/message-after-scan.png" width="375px" alt="image of message screen">
      <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Even his parking space number can be saved.</h6>
    </div> 
  </div>
  <div style="height:50px;"></div>

  <div class="section-intro">
    <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
    <h2 class="margin-top-0">Later when he’s looking for his car, he asks “Hey Siri, where did I <span class="black">parkIt!</span>?”.</h2>
  </div>

  <div class="flex space-around wrap">
    <div>
      <img src="/img/parkIt/siri1.png" width="300px" alt="image of phone">
      <h6><span class="black">1. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Max gets Siri's attention.</h6>
    </div>
    <div>
      <img src="/img/parkIt/siri4.png" width="300px" alt="image of phone">
      <h6><span class="black">2. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Max asks Siri where he parked.</h6>
    </div>
    <div>
      <img src="/img/parkIt/siri5.png" width="300px" alt="image of phone">
      <h6><span class="black">3. <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Siri answers and offers directions.</h6>
    </div>
  </div>
</section>

<section id="section8">
  {% include "sectionheaders/numberflag7.njk" %}

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>Ting mails a check every month to pay for her parking membership.</h2>
      <h5 class="margin-bottom-0">During my initial user research, I interviewed the administrative employee responsible for manually processing monthly membership payments.</h5>
    </div>
    <div>
      {% include "svg/parkIt/ting-card.svg" %}
    </div>  
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/journey3.svg" %}
  <h6><span class="black">Ting <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Paying by check and snail mail each month is a real pain.</h6>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <h2>The <span class="black">parkIt!</span> app reminds Max when a payment is due so he can easily pay his bill with Apple Pay.</h2>
    </div>
    <div>
      {% include "svg/parkIt/max-card.svg" %}
    </div> 
  </div>
  <div style="height:25px;"></div>

  {% include "svg/parkIt/apple-pay-wires.svg" %}
  <h6><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Paying is quick &amp; easy with payment notifications and Apple Pay.</h6>
  <div style="height:50px;"></div>

  <div class="side-by-side align-items">
    <div class="section-intro side-margin">
      <img src="/img/parkIt/max-tiny.svg" width="100px" alt="image of man">
      <h2 class="margin-top-0">The interactive prototype shows Max paying his bill after receiving a notification from the app.</h2>
    </div>
    <div class="flex column align-items">
      <video width="323" height="700" controls>
        <source src="/video/parkIt/apple-pay.mp4" type="video/mp4">
        Sorry, your browser doesn't support videos.
      </video>
      <h6 style="max-width:323px;"><span class="black">Max <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Pays his bill in only a few steps without checks, envelopes, or stamps.</h6>
    </div>
  </div>
</section>