---js
{
"title": "Premium Audit",
"layout": "layouts/project.njk",
"date": "2020-07-03",
"sections": ["Project Overview", "User Persona", "Research", "Sprint Planning", "Design Sprint 1", "Design Sprint 2", "Design Sprint 3", "What's Next?"]
}
---

<section id="section1">
  <h1>Premium Audit</h1>
  <div class="main-description">Helps customers complete a required audit for premiums paid on their Insurance Policy</div>
  <div class="underline"></div>

  <div>
    <h4>About the Project</h4>
    <p>This portfolio piece is based on a project I worked on for Employers Insurance Group (NYSE:EIG). Employers is a Worker's Compensation Insurance Carrier for small businesses in the United States.</p>
  </div>

  <div>
    <h4>Project Timeline</h4>
    <div class="flex">
      <p class="semi-bold italic margin-0">April 2019</p>
      <div class="arrow"><img src="/img/arrow.svg" width="60px" alt="arrow image"></div>
      <p class="semi-bold italic margin-0" style="margin-left:0;">August 2019</p>
    </div>
  </div>

  <div>
    <h4>Interesting Facts</h4>
    <p>The project team used Agile Scrum Methodology through the project lifecyle. I was the <span class="black">sole User Experience Designer</span>, and participated in all scrum ceremonies and workshops.</p>
    <p>The project team included approximately 10 team members across 3 U.S. timezones. I worked both remotely and from the company's office in Kansas City, MO.</p>
  </div>

  <div>
    <h4>My Role</h4>
    <ul>
      <li>User Research &amp; Usability Testing</li>
      <li>User Experience &amp; User Interface Design</li>
      <li>Contributed to HTML &amp; CSS within Angular v8.0+</li>
      <li>Created &amp; Maintained a Design System</li>
      <li>Contributed to a UI Component Library</li>
    </ul>
    <div style="padding-top:2em;">
      <div><img src="/img/billpay/my-role.svg" alt="my role within scrum team"></div>
      <h6>My <span class="black">UX Designer role</span> as a full-time member of the Agile Scrum Team</h6>
    </div>
  </div>
</section>

<section id="section2">
  {% include "sectionheaders/numberflag1.njk" %}
  <div class="side-by-side">
    <div class="side" style="width:100%;">
      <div class="intro">
        <h2>Lola</h2>
        <h5 class="margin-top-0" style="font-size:24px;">The Yoga Studio Owner</h5>
        <div style="padding-top:2em;"><img src="/img/premiumaudit/yoga-stretching.svg" height="300px" alt="woman yoga stretching"></div>
      </div>
      <p>Lola <span class="black">owns a yoga and meditation studio</span> with 2 full-time employees and 7 part-time employees.</p>
      <p>Lola runs the yoga and meditation studio and teaches several of the classes throughout the day.</p>
    </div>

    <div>
      <h4>Goals</h4>
        <p>Lola wishes she could teach more classes, instead of spending so much time managing her business.</p>
      <h4>Expectations</h4>
        <p>Lola is tech-savvy, but she expects her insurance company to provide her easy-to-use software to complete required tasks.</p>
      <h4>Challenges</h4>
        <p>Lola tries to extend the benefits of her yoga &amp; meditation practice into all aspects of her life, but it can be challenging to stay centered when technical problems arise.</p>
      <h4>Frustrations</h4>
        <p>Lola's time is valuable, so she gets frustrated when software programs don't work as promised, or when she has to wait on hold to get help from customer service.</p>
      <h4>Needs</h4>
        <p>Lola needs an application that makes it easy to <span class="black">complete the dreaded end-of-year audit</span> on her insurance policy premiums.</p>
    </div>
  </div>
</section>

<section id="section3">
  {% include "sectionheaders/numberflag2.njk" %}
  <div class="section-intro">
    <h2>Initial user research highlighted areas causing frustration for customers.</h2>
    <h5>I analyzed <span class="black">89 user comments</span> collected from intercept survey results, and conducted virtual <span class="black">usability testing</span> of the audit application with 4 policyholders.</h5>
    <h5>All data collected from initial user research was consolidated into a <span class="bold">Feedback Capture Matrix</span> and <span class="black">User Journey Map</span> to present to stakeholders.</h5>
  </div>
  <h4 style="margin:60px 0 0 0;">Feedback Capture Matrix</h4>
  <div><img src="/img/premiumaudit/feedback.svg" alt="feedback capture matrix"></div>
  <h6><span class="black">Feedback Capture Matrix</span> displaying consolidated data collected from initial user research</h6>
  <h4 style="margin:60px 0 0 0;">User Journey Map</h4>
  <div><img src="/img/premiumaudit/journey-map.svg" alt="user journey map"></div>
  <h6><span class="black">User Journey Map</span> displaying findings collected during initial user research</h6>
</section>

<section id="section4">
  {% include "sectionheaders/numberflag3.njk" %}
  <div class="side-by-side">
    <div class="section-intro side">
      <h2>The initial user research was used to guide the sprint planning process.
      <h5>Design Sprints focused on 3 additions to the application that would help keep Lola <span class="black">zen</span> while completing the yearly audit for her insurance premiums.</h5>
      <ol class="numbered-list">
        <li>Provide helpful Audit Info upfront</li>
        <li>Enhance the Audit Stepper</li>
        <li>Add an Audit Summary</li>
      </ol>
    </div>
    <div class="sprint-planning-large center"><img src="/img/premiumaudit/yoga-standing.svg" alt="woman standing yoga pose"></div>
  </div>
</section>

<section id="section5">
  {% include "sectionheaders/numberflag4.njk" %}
  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Provide helpful Audit Info upfront</h2>
        <p>Lola needs to have a better understanding of the audit process upfront. She should be able to log into the audit application and be provided helpful information to get her started.</p>
      </div>

      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/premiumaudit/yoga-sitting.svg" height="250px" alt="woman sitting yoga pose"></div>
        <p class="italic">"What accounting information will they ask for? I wonder if I can come back to finish later..."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="section-intro">
    <h2>The application didn't inform users upfront about the audit process.</h2>
    <h5>An audit intro animation was added after login to help answer frequently asked "Getting Started" questions.</h5>
  </div>
  <div><img src="/img/premiumaudit/userflow1.svg" alt="user flow adding new dashboard"></div>
  <h6>User flow for audit process. Location for new Audit Intro is displayed in red.</h6>
  <div class="underline-sm"></div>

  <div class="section-intro">
    <h2>The audit intro animation was used to <span class="black">engage the user</span> and provide <span class="black">helpful information</span>.</h2>
  </div>
  <div class="negative-spacing">
    <div class="number-icon"><img src="/img/premiumaudit/1.svg" height="100px" alt="Number 1 icon"></div>
    <div class="audit-intro">
      <div class="intro-message"><img src="/img/premiumaudit/message1.svg" alt="intro message"></div>
      {% include "audit-intro/copier.svg" %}
    </div>
    <h6>We let the user know their audit would be pre-filled with policy information to save them time.</h6>
  </div>

  <div class="negative-spacing">
    <div class="number-icon"><img src="/img/premiumaudit/2.svg" height="100px" alt="Number 2 icon"></div>
    <div class="audit-intro">
      <div class="intro-message"><img src="/img/premiumaudit/message2.svg" alt="intro message"></div>
      {% include "audit-intro/copier.svg" %}
    </div>
    <h6>We also let the user know if we were able to pre-fill their audit with information from the previous year.</h6>
  </div>

  <div class="negative-spacing">
    <div class="number-icon"><img src="/img/premiumaudit/3.svg" height="100px" alt="Number 3 icon"></div>
    <div class="audit-intro">
      <div class="intro-message"><img src="/img/premiumaudit/message3.svg" alt="intro message"></div>
      <div><img src="/img/premiumaudit/papers.svg" alt="images of papers"></div>
    </div>
    <h6>Lastly, we gave the user helpful information to get them started.</h6>
  </div>

  <div class="section-intro">
    <h2>Select the <span class="black">play button</span> below to see the animation as the user.</h2>
  </div>
  {% include "audit-intro/intro-player.html" %}
</section>

<section id="section6">
  {% include "sectionheaders/numberflag5.njk" %}
  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Enhance the Audit Stepper</h2>
        <p>Lola knows the audit process can take a while, but she expects the application to save her work as she goes, show her progress, and let her know if she's made a mistake.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/premiumaudit/yoga-sitting.svg" height="250px" alt="woman sitting yoga pose"></div>
        <p class="italic">"I'd be really upset if I had to re-do all of this. I really hope it's being saved."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Problem</h2>
      <h5>Lola clicks the Save &amp; Verify button, but nothing happens, so she doesn't know if it's safe to go on to the next step.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/save-and-verify.svg" alt="form with Save and Verify button">
      <h6><span class="black">Before <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Save &amp; Verify button was used at the end of each step.</h6>
    </div>  
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Solution</h2>
      <h5>The Save &amp; Verify button was removed. If there is no validation error, a green check mark appears to the right of the question after it's answered.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/green-checks.svg" alt="green check marks">
      <h6><span class="black">After <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Save &amp; Verify button was removed and replaced with green check marks.</h6>
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Problem</h2>
      <h5>Lola sees form fields outlined in red and some messages in red at the bottom of the screen, but she doesn't know what to do to fix the problems.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/errors-at-end.svg" alt="error messages at bottom of screen">
      <h6><span class="black">Before <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> All error messages were grouped at the bottom of the screen</h6>
    </div>  
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Solution</h2>
      <h5>The error messages were removed from the bottom of the screen and displayed to the right of each question.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/errors-at-side.svg" alt="error messages to right of form field">
      <h6> <span class="black">After <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Error messages were moved to the right of the form field</h6>
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Problem</h2>
      <h5>Lola has a yoga class to teach soon, so she needs to know if she's almost finished with her audit.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/yoga-standing.svg" height="400px" alt="woman in yoga pose">
      <h6></h6>
    </div>  
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Solution</h2>
      <h2>The side navigation doubles as a timeline.</h2>
      <h5>1. A progress indicator was added to the top-left corner.</h5>
      <h5>2. Each step in the side navigation menu shows a status.</h5>
      <h5>3. The active step is highlighted.</h5>
      <h5>4. The icon has a white background when the step isn't complete.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/sidenav.svg" alt="side navigation">
      <h6><span class="black">New <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Side navigation</h6>
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Other information that Lola may find helpful was added to the audit stepper.</h2>
    </div>
    <div class="side-50">
      <h5>1. The audit due date was added to the header.</h5>
      <h5>2. The list of documents needed was added to the footer.</h5>
      <h5>3. A new FAQ section was also added to the footer.</h5>
    </div>
  </div>

  <div>
    <img src="/img/premiumaudit/full-mockup.svg" alt="mockup for audit stepper">
    <h6><span class="black">New <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Header, footer, and side navigation of audit stepper</h6>
  </div>  
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Lola can return to the last completed step when logging back in.</h2>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/welcome-back.svg" alt="Welcome Back message">
      <h6><span class="black">New <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Welcome Back screen</h6>
    </div>  
  </div>
</section>

<section id="section7">
  {% include "sectionheaders/numberflag6.njk" %}
  <div class="design-sprint-intro">
    <div class="side-by-side">
      <div class="side">
        <h2>Add an Audit Summary</h2>
        <p>Lola should see a snapshot view of her audit completion before submitting, so she can go back to complete any questions she may have missed.</p>
      </div>
      <div class="side-by-side align-items">
        <div class="center margin-right-20"><img src="/img/premiumaudit/yoga-sitting.svg" height="250px" alt="woman sitting yoga pose"></div>
        <p class="italic">"Why won't this submit? I don't see anything wrong."</p>
      </div>
    </div>
    <div class="underline-sm"></div>
  </div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2 class="emphasize">Problem</h2>
      <h5>Lola completes the final step, and thinks she's finally done, but nothing happens when she clicks the submit button.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/gray-submit.svg" alt="gray submit button">
      <h6><span class="black">Before <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Disabled submit button</h6>
    </div>  
  </div>

  <div class="section-intro">
    <h2 class="emphasize">Solution</h2>
    <h5>An Audit Summary page was added to the end of the Audit Stepper.</h5>
  </div>

  <div>
    <img src="/img/premiumaudit/userflow2.svg" alt="user flow with new audit summary added">
    <h6>User flow showing location for new Audit Summary in red.</h6>
  </div> 
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Lola can see details for each step on the audit summary screen, so she knows if sections need to be revisited.</h2>
      <h5>She can review one section at a time, or go through all unfinished sections at once.</h5>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/audit-summary1.svg" alt="audit summary page">
      <h6><span class="black">New <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Audit summary screen</h6>
    </div>  
  </div>
  <div class="underline-sm"></div>

  <div class="section-intro">
    <h2>If Lola visits any section from the audit summary, she doesn't have to click through all the steps again to get back.</h2>
  </div>

  <div>
    <img src="/img/premiumaudit/wireflow.svg" alt="wire flow of routing">
    <h6>Wire flow showing routing back to audit summary.</h6>
  </div>  
  <div class="underline-sm"></div>

  <div class="side-by-side align-items">
    <div class="section-intro">
      <h2>Lola can finally submit her audit once all steps on the audit summary are complete.</h2>
    </div>
    <div class="side-50">
      <img src="/img/premiumaudit/audit-summary2.svg" alt="audit summary page">
      <h6><span class="black">New <i class="fad fa-caret-right" style="--fa-secondary-color: var(--green);"></i></span> Active submit button on completed audit summary screen</h6>
    </div>  
  </div>
</section>

<section id="section8">
  {% include "sectionheaders/numberflag7.njk" %}
  <div class="section-intro">
    <h2>Future plans include:</h2>
    <ol class="numbered-list">
      <li>Continue to monitor customer service requests, Google Analytics, user surveys, etc. for UX issues in production.</li>
      <li>Integrate with popular accounting software to further reduce manual data entry.</li>
      <li>Include informational videos about the audit process.</li>
    </ol>
  </div>
</section>