---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 4
---

<h1>Projects</h1>

{% set projectslist = collections.projects %}
{% include "projectslist.njk" %}