/* Start Base CSS */
:root {
  --white: #fff;
  --black: #080808;
  --blue: #3498DB;
  --tealblue: #00bcd4;
  --green: #29D9C2;
  --underline: #ddd;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
  scroll-behavior: smooth;
}

main {
  padding: 0 0 3em 3em;
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 0 2em;
  }
}

@media only screen and (max-width: 415px) {
  main {
    padding: 0 1em;
  }
}

h1 {
  font-size: 65px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  background-color: var(--black);
  color: var(--white);
  padding: 0 10px;
  width: max-content;
  margin-bottom: 10px;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul {
  margin: 0.5em 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  padding: 0 5px;
  color: var(--black);
  box-shadow: inset 0 -3px 0 var(--blue);
  transition: all ease-out 0.2s;
}

a:hover,
a:focus {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Base CSS */


/* Start Custom Classes */
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.margin-0 {
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
/* End Custom Classes */


/* Start Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  position: fixed;
  background-color: var(--white);
}

.home {
  font-size: 1em;
  font-weight: 900;
}

.home :link:not(:hover) {
  box-shadow: none;
}

.nav {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}

.nav-item {
  display: inline-block;
  margin-right: 1.5em;
}

.nav-item-active {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Header */


/* Start Left SideNav Menu */
.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }
}

#openbtn {
  position: fixed;
  display: block;
  top: 0.4em;
  right: 1em;
}

#openbtn a {
  box-shadow: none;
  font-size: 30px;
  color: var(--black);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0.3em;
  font-size: 35px;
  box-shadow: none;
}

#openbtn a:hover,
#openbtn a:focus,
.sidenav .closebtn:hover,
.sidenav .closebtn:focus {
  color: var(--green);
  box-shadow: none;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -300px;
  background-color: var(--white);
  border-right: 2px solid var(--black);
  overflow-x: hidden;
  padding-top: 60px;
  transition: left 0.5s;
} 

.sidenav a {
  display: block;
  font-size: 24px;
  margin: 20px 0;
  box-shadow: inset 0 -3px 0 var(--blue);
  transition: all ease-out 0.2s;
}

.mobile-nav-item-active a,
.sidenav a:hover,
.sidenav a:focus {
  box-shadow: inset 0 -20px 0 var(--green);
}
/* End Left SideNav Menu */