/* Start Base CSS */
:root {
  --white: #FFF;
  --black: #080808;
  --blue: #3498DB;
  --tealblue: #00BCD4;
  --green: #29D9C2;
  --underline: #DDD;
  --red: #E50A45;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

h1 {
  background-color: var(--black);
  color: var(--white);
  font-size: 65px;
  font-weight: bold;
  padding: 0 10px;
  width: max-content;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  h1.long-title {
    width: auto;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 415px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

@media (max-width: 415px) {
  h3 {
    font-size: 28px;
  }
}

h4 {
  font-size: 24px;
  font-weight: bold;
  background-color: var(--black);
  color: var(--white);
  padding: 0 10px;
  width: max-content;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul {
  margin: 0.5em 0;
}

li {
  list-style-type: none;
}

ol.numbered-list li {
  list-style-type: unset;
  padding-bottom: 5px;
}

ul.bottom-project-nav {
  padding-left: 0;
  padding-top: 40px;
}

ul.bottom-project-nav li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  padding: 0 5px;
  color: var(--black);
  box-shadow: inset 0 -3px 0 var(--blue);
  transition: all ease-out 0.2s;
}

a:hover,
a:focus {
  box-shadow: inset 0 -15px 0 var(--green);
  outline: none;
}

.emphasize {
  font-weight: 700;
  background-color: var(--black);
  color: var(--white);
  padding: 0 10px;
  width: max-content;
}

img {
  max-width: 100%;
}

.underline {
  height: 2px;
  width: 100%;
  border-bottom: 1px solid var(--underline);
}

.underline-sm {
  height: 2px;
  width: 75%;
  margin: 75px auto;
  border-bottom: 1px solid var(--underline);
}

@media (max-width: 720px) {
  .underline-sm {
    width: 65%;
  }
}
/* End Base CSS */


/* Start Custom Classes */
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.display-none {
  display: none;
}

.margin-0 {
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}
/* End Custom Classes */


/* Start Header */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1em 0 2em;
  width: 90%;
  position: fixed;
  background-color: var(--white);
  z-index: 333;
}

@media (max-width: 1024px)  {
  header {
    width: 100%;
  }
}
/* End Header */


/* Start Mobile Menu */
.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }
}

ul.nav {
  padding: 0;
  margin-left: 20px;
}

#openbtn {
  position: fixed;
  display: block;
  top: 0.6em;
  right: 1em;
}

#openbtn a {
  box-shadow: none;
  color: var(--black);
  font-size: 30px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0.3em;
  font-size: 35px;
  box-shadow: none;
}

#openbtn a:hover,
#openbtn a:focus,
.sidenav .closebtn:hover,
.sidenav .closebtn:focus {
  color: var(--green);
  box-shadow: none;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -300px;
  background-color: var(--white);
  border-right: 2px solid var(--black);
  overflow-x: hidden;
  padding-top: 60px;
  transition: left 0.5s;
} 

.sidenav a {
  display: block;
  font-size: 20px;
  margin: 20px 0;
  box-shadow: inset 0 -3px 0 var(--blue);
  transition: all ease-out 0.2s;
  width: max-content;
}

.nav-item-active a,
.sidenav a:hover,
.sidenav a:focus {
  box-shadow: inset 0 -20px 0 var(--green);
}
/* End Mobile Menu */


/* Start Project List - Used on Home page and mobile nav*/
.project-list {
  margin-top: 5em;
}

@media (max-width: 1024px) {
  .project-list {
    margin-top: 0;
  }
}

ol.projectlist {
  padding: 0;
}

ol.projectlist li {
  margin-bottom: 20px;
}

ol.projectlist li a {
  font-size: 20px;
}
/* End Project List - Used on Home page and mobile nav*/


/* Start Footer */
footer {
  padding: 1em 2em;
  flex-shrink: 0;
}

.footer-icons {
  float: right;
}

.footer-icons a {
  box-shadow: none;
  color: var(--black);
  font-size: 24px;
  padding-right: 20px;
}

.footer-icons a:hover,
.footer-icons a:focus {
  color: var(--green);
  box-shadow: none;
}

footer p {
  font-weight: 900;
  margin: 0 0 16px;
}

@media (max-width: 500px)  {
  .footer-icons {
    float: none;
    margin-bottom: 16px;
  }
}
/* End Footer */


/* Start Side-by-Side */
.side-by-side {
  display: flex;
}

.side {
  margin-right: 2em;
  width: 80%;
}

.side-50 {
  width: 50%;
  margin-left: 2em;
}

.side-margin {
  margin-right: 2em;
}

.side p {
  padding-bottom: 1.5em;
}

@media (max-width: 1024px) {
  .side-by-side {
    display: block;
  }

  .side {
    margin-right: 0;
    width: 100%;
  }

  .side-50 {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .side-margin {
    margin-right: 0;
  }
}
/* End Side-by-Side */


/* Start SVG Scaling */
.scaling-svg-container {
  position: relative; 
  height: 0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; /* override this inline for aspect ratio other than square*/
}

.scaling-svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
}
/* End SVG Scaling */