.tmpl-home {
  padding: 0 4em 4em;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1440px) {
  .tmpl-home {
    padding: 0 3em 3em;
  }
}

@media only screen and (max-width: 1024px) {
  .tmpl-home {
    padding: 0 2em 2em 3em;
  }
}

@media only screen and (max-width: 415px) {
  .tmpl-home {
    padding: 0 1.5em 1.5em 2.5em;
  }
}

.about-me {
  max-width: 70%;
}

@media only screen and (max-width: 1024px) {
  .about-me {
    max-width: 100%;
  }
}

.circle-outline-home {
  color: var(--white);
  height: 25px;
  width: 25px;
  background-color: var(--tealblue);
  border: 1px solid var(--tealblue);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  left: -30px;
}

.about-me h3 {
  font-size: 28px;
  padding: 20px 0;
}

.emphasize {
  font-weight: 700;
  background-color: var(--black);
  color: var(--white);
  padding: 0 10px;
  width: max-content;
}

.project-list {
  margin-top: 5em;
}

@media only screen and (max-width: 1024px) {
  .project-list {
    margin-top: 0;
  }
}

ol.projectlist {
  padding: 0;
}

ol.projectlist li {
  margin-bottom: 20px;
}

ol.projectlist li a {
  font-size: 20px;
}