.tmpl-home {
  padding: 100px 4em 4em;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1440px) {
  .tmpl-home {
    padding: 100px 3em 3em;
  }
}

@media only screen and (max-width: 1024px) {
  .tmpl-home {
    padding: 100px 2em 2em 3em;
  }
}

@media only screen and (max-width: 415px) {
  .tmpl-home {
    padding: 100px 1.5em 1.5em 2.5em;
  }
}

.about-me {
  max-width: 70%;
}

@media only screen and (max-width: 1024px) {
  .about-me {
    max-width: 100%;
  }
}

.about-me h3 {
  font-size: 28px;
  padding-bottom: 30px;
}

.circle-outline {
  color: var(--white);
  height: 25px;
  width: 25px;
  background-color: var(--tealblue);
  border: 1px solid var(--tealblue);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  left: -30px;
}