.tmpl-home {
  padding: 0 4em 4em;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1440px) {
  .tmpl-home {
    padding: 0 3em 3em;
  }
}

@media only screen and (max-width: 1024px) {
  .tmpl-home {
    padding: 0 2em 2em 3em;
  }
}

@media only screen and (max-width: 415px) {
  .tmpl-home {
    padding: 0 1.5em 1.5em 2.5em;
  }
}

.about-me {
  max-width: 70%;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .about-me {
    max-width: 100%;
  }
}

.about-me h3 {
  font-size: 28px;
  padding-bottom: 30px;
}