.tmpl-project {
  padding: 0 0 4em 4em;
}

@media only screen and (max-width: 1440px) {
  .tmpl-project {
    padding: 0 0 3em 3em;
  }
}

@media only screen and (min-width: 1025px) {
  .tmpl-project {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .tmpl-project {
    padding: 0 2em 2em;
  }
}

@media only screen and (max-width: 415px) {
  .tmpl-project {
    padding: 0 1em 1em;
  }
}

.main-description {
  font-weight: 900;
  font-size: 28px;
  max-width: 650px;
  padding-bottom: 50px;
}

section {
  margin-bottom: 50px;
  padding-top: 100px;
}


/* Start Project Page "Take Me Home" */
.project-nav-item {
  margin: 0 10px;
}

.project-url {
  box-shadow: inset 0 -15px 0 var(--green);
}

@media only screen and (max-width: 1024px) {
  .project-navigation {
    display: none;
  }
}
/* End Project Page "Take Me Home" */


/* Start Table of Contents */
.content-table {
  width: 200px;
  position: fixed;
  top: 20vh;
  right: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .content-table {
    display: none;
  }
}

.content-table ol {
  padding-top: 10px;
  padding-left: 0;
}

.content-table li {
  width: max-content;
}

.content-table a {
  display: block;
  margin: 15px 0;
}

.content-table li.active > a {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Table of Contents */


/* Start Section Headers */
.section-header {
  margin-bottom: 50px;
}

.section-header .right-side {
  margin-left: 10px;
  width: 90%;
}

@media only screen and (max-width: 720px) {
  .section-header .right-side {
    width: 80%;
  }
}

.numberflag {
  background-color: var(--tealblue);
  color: var(--white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
}

@media only screen and (max-width: 415px) {
  .numberflag {
    height: 45px;
    width: 45px;
    font-size: 30px;
  }
}

.section-intro {
  width: 75%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .section-intro {
    width: 100%;
  }
}

.design-sprint-intro {
  margin-bottom: 100px;
}
/* End Section Headers */


/* Start Big Green Number Section*/
.number-block {
  width: 60%;
  display: flex;
  align-items: last baseline;
}

.number {
  color: var(--green);
  font-weight: 900;
  font-size: 300px;
  padding-right: 15px;
}

.number-block h2 {
  font-weight: 900;
  margin: 0;
}

.number-block h5 {
  color: var(--blue);
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 10px;
}

.number-block p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 5px;
}

@media only screen and (max-width: 1023px) {
  .number-block {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .number-block {
    display: block;
  }

  .number {
    font-size: 100px;
  }
}
/* End Big Green Number Section*/


/* Start Project Overview Section */
#section1 h1 {
  margin-top: 0;
}

#section1 p {
  margin-top: 0;
  margin-left: 23px;
  max-width: 70%;
}

@media only screen and (max-width: 1024px) {
  #section1 p {
    max-width: 100%;
  }
}

@media only screen and (max-width: 415px) {
  #section1 p {
    margin-left: 10px;
  }
}

#section1 li {
  list-style-type: unset;
  padding-bottom: 5px;
}

.arrow {
  padding: 0 1em;
}
/* End Project Overview Section */


/* Start User Persona Section */
#section2 .intro {
  text-align: center;
  padding-bottom: 2em;
}

.intro h2 {
  font-weight: bold;
  margin: 20px 0 5px;
}
/* End User Persona Section */


/* Start Sprint Planning Section */
.sprint-planning-large img {
  height: 500px;
}

@media only screen and (max-width: 1024px) {
  .sprint-planning-large img {
    height: 300px;
  }
}
/* End Sprint Planning Section */


/* Start Audit Intro Section */
.negative-spacing {
  position: relative;
  top: -75px;
}

.number-icon {
  position: relative;
  top: 70px;
  left: -20px;
  background-color: var(--green);
  color: var(--white);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 65px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-padding {
  padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
  .number-icon {
    top: 45px;
    left: -10px;
  }
}

@media only screen and (max-width: 650px) {
  .number-icon {
    top: 35px;
    height: 50px;
    width: 50px;
    font-size: 32px;
  }

  .number-padding {
    padding-left: 5px;
  }
}

.audit-intro {
  border: 1px solid var(--underline);
}

.intro-message {
  max-width: 800px;
  margin: 15px auto 0;
}

@media only screen and (max-width: 800px) {
  .intro-message {
    padding: 0 0.5em;
  }
}
/* End Audit Intro Section */


/* Start Copy Machine Section */
.copier {
  position: relative;
  max-width: 400px;
  margin: 2em auto;
}

@media only screen and (max-width: 600px) {
  .copier {
    max-width: 300px;
  }
}

#light {
  position: absolute;
  height: 0.1px;
  background-color: transparent;
  top: 20%;
  left: 30%;
  z-index: 2;
  box-shadow: 8px 5px 10px 11px white;
  animation: 3s linear infinite running slidein;
}

@keyframes slidein {
  from { transform: translate(0); }
  to   { transform: translate(140px); }
}

@media only screen and (max-width: 600px) {
  @keyframes slidein {
    from { transform: translate(0); }
    to   { transform: translate(95px); }
  }
}

#pulse2s {
  opacity: 1;
  animation: pulse 2s infinite;
}

#pulse3s {
  opacity: 1;
  animation: pulse 3s infinite;
}

#pulse4s {
  opacity: 1;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
/* End Copy Machine Section */


/* Start Player Section */
.player {
  border: 1px solid var(--underline);
  position: relative;
  overflow: hidden;
}

.play-button {
  position: absolute;
  z-index: 4;
  font-size: 100px;
  background-color: transparent;
  border: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.play-button:focus {
  outline: none;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--underline);
  opacity: 0.9;
  z-index: 3;
  transition: opacity 0.5s;
}

.phase1 {
  opacity: 1;
}

.phase2 {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 4s;
}

.message1 {
  position: absolute;
  max-width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 2s;
}

.message2 {
  position: absolute;
  max-width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s;
}

.message3 {
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s;
}

.message {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  font-size: 3em;
  margin: 1em 0;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .message {
    font-size: 2em;
  }
}

.fake-p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .fake-p {
    font-size: 0.875em;
  }
}

.fake-link {
  font-size: 1em;
  color: #0000ff;
  text-decoration: underline;
}

.fake-button {
  color: #ffffff;
  background-color: #29339b;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 4em auto 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copier2 {
  padding-top: 20%;
}

@media only screen and (max-width: 1366px) {
  .copier2 {
    padding-top: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .copier2 {
    padding-top: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .copier2 {
    padding-top: 70%;
  }
}

.light2 {
  position: absolute;
  height: 0.1px;
  background-color: transparent;
  top: 20%;
  left: 30%;
  z-index: 2;
  box-shadow: 8px 5px 10px 11px white;
  animation: 3s linear infinite slidein paused;
}

.pulse2s-player {
  opacity: 1;
  animation: pulse 2s infinite paused;
}

.pulse3s-player {
  opacity: 1;
  animation: pulse 3s infinite paused;
}

.pulse4s-player {
  opacity: 1;
  animation: pulse 4s infinite paused;
}

.remove {
  opacity: 0;
}

.show {
  opacity: 1;
}

.playing {
  animation-play-state: running;
}

p.codepen-link {
  font-weight: 900;
  margin: 5px 0;
}
/* End Player Section */