.tmpl-project {
  padding: 0 0 4em 4em;
}

@media only screen and (max-width: 1440px) {
  .tmpl-project {
    padding: 0 0 3em 3em;
  }
}

@media only screen and (min-width: 1025px) {
  .tmpl-project {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .tmpl-project {
    padding: 0 2em 2em;
  }
}

@media only screen and (max-width: 415px) {
  .tmpl-project {
    padding: 0 1em 1em;
  }
}

.main-description {
  font-weight: 900;
  font-size: 28px;
  max-width: 650px;
  padding-bottom: 50px;
}

section {
  margin-bottom: 50px;
  padding-top: 100px;
}


/* Start Project Page "Take Me Home" */
.project-nav-item {
  margin: 0 10px;
}

.project-url {
  box-shadow: inset 0 -15px 0 var(--green);
}

@media only screen and (max-width: 1024px) {
  .project-navigation {
    display: none;
  }
}
/* End Project Page "Take Me Home" */


/* Start Table of Contents */
.content-table {
  width: 200px;
  position: fixed;
  top: 20vh;
  right: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .content-table {
    display: none;
  }
}

.content-table ol {
  padding-top: 10px;
  padding-left: 0;
}

.content-table li {
  width: max-content;
}

.content-table a {
  display: block;
  margin: 15px 0;
}

.content-table li.active > a {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Table of Contents */


/* Start Section Headers */
.section-header {
  margin-bottom: 50px;
}

.section-header .right-side {
  margin-left: 10px;
  width: 90%;
}

@media only screen and (max-width: 720px) {
  .section-header .right-side {
    width: 80%;
  }
}

.numberflag {
  background-color: var(--tealblue);
  color: var(--white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
}

@media only screen and (max-width: 415px) {
  .numberflag {
    height: 45px;
    width: 45px;
    font-size: 30px;
  }
}

.section-intro {
  width: 75%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .section-intro {
    width: 100%;
  }
}

.design-sprint-intro {
  margin-bottom: 100px;
}
/* End Section Headers */


/* Start Big Green Number Section*/
.number-block {
  width: 60%;
  display: flex;
  align-items: last baseline;
}

.number {
  color: var(--green);
  font-weight: 900;
  font-size: 300px;
  padding-right: 15px;
}

.number-block h2 {
  font-weight: 900;
  margin: 0;
}

.number-block h5 {
  color: var(--blue);
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 10px;
}

.number-block p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 5px;
}

@media only screen and (max-width: 1023px) {
  .number-block {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .number-block {
    display: block;
  }

  .number {
    font-size: 100px;
  }
}
/* End Big Green Number Section*/


/* Start Project Overview Section */
#section1 h1 {
  margin-top: 0;
}

#section1 p {
  margin-top: 0;
  margin-left: 23px;
  max-width: 70%;
}

@media only screen and (max-width: 1024px) {
  #section1 p {
    max-width: 100%;
  }
}

@media only screen and (max-width: 415px) {
  #section1 p {
    margin-left: 10px;
  }
}

#section1 li {
  list-style-type: unset;
  padding-bottom: 5px;
}

.arrow {
  padding: 0 1em;
}
/* End Project Overview Section */


/* Start User Persona Section */
#section2 .intro {
  text-align: center;
  padding-bottom: 2em;
}

.intro h2 {
  font-weight: bold;
  margin: 20px 0 5px;
}
/* End User Persona Section */


/* Start Sprint Planning Section */
.sprint-planning-large img {
  height: 500px;
}

@media only screen and (max-width: 1024px) {
  .sprint-planning-large img {
    height: 300px;
  }
}
/* End Sprint Planning Section */


/* Start Audit Intro Section */
.audit-intro {
  text-align: center;
  border: 1px solid var(--underline);
  padding: 1em 2em;
}
/* End Audit Intro Section */


/* Start Copy Machine Section */
.copier {
  position: relative;
  max-width: 500px;
  margin: 2em auto;
}

#light {
  position: absolute;
  height: 0.1px;
  background-color: transparent;
  top: 20%;
  left: 30%;
  z-index: 2;
  box-shadow: 8px 5px 10px 11px white;
  animation: 3s linear infinite running slidein;
}

@keyframes slidein {
  from { transform: translate(0); }
  to   { transform: translate(160px); }
}

@media only screen and (max-width: 500px) {
  @keyframes slidein {
    from { transform: translate(0); }
    to   { transform: translate(130px); }
  }
}

@media only screen and (max-width: 400px) {
  @keyframes slidein {
    from { transform: translate(0); }
    to   { transform: translate(110px); }
  }
}

#circle,
#circle-2,
#circle-3,
#circle-4 {
  opacity: 1;
  animation: pulse 3s infinite;
}

.pulse {
  opacity: 1;
  animation: pulse 2s infinite;
}

.pulse2 {
  opacity: 1;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}
/* End Copy Machine Section */


/* Start Player Section */
.player {
  text-align: center;
  border: 1px solid var(--underline);
}

.overlay {
  background-color: var(--underline);
  height: 50px;
}

.remove {
  background-color: transparent;
}

.text-intro {
  position: relative;
  overflow: hidden;
}

.text-intro .text {
  position: absolute;
  font-size: 100px;
  opacity: 1;
}

.text-first {
  animation-name: fade;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.text-second {
  animation-name: fade;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  animation-play-state: paused;
}

.text-third {
  animation-name: fade;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 4.6s;
  animation-play-state: paused;
}

.playing {
  animation-play-state: running;
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  40% { opacity: 0; transform: scale(1.3); }
  100% { opacity: 0; }
}
/* End Player Section */