@media only screen and (min-width: 1025px) {
  .tmpl-project {
    width: 80%;
  }
}

.tmpl-project h1 {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  padding: 0 10px;
  width: max-content;
}

@media only screen and (max-width: 415px) {
  .tmpl-project h1 {
    font-size: 55px;
  }
}

.main-description {
  font-weight: 900;
  font-size: 28px;
  max-width: 650px;
  padding-bottom: 50px;
}

section {
  margin-bottom: 150px;
}


/* Start Table of Contents */
.content-table {
  width: 200px;
  position: fixed;
  top: 20vh;
  right: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .content-table {
    display: none;
  }
}

.content-table ol {
  padding-top: 10px;
  padding-left: 0;
}

.content-table li {
  width: max-content;
}

.content-table a {
  display: block;
  margin: 15px 0;
}

.content-table li.active > a {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Table of Contents */


/* Start Section Headers */
.section-header {
  margin-bottom: 50px;
}

.section-header .right-side {
  margin-left: 10px;
  width: 90%;
}

@media only screen and (max-width: 720px) {
  .section-header .right-side {
    width: 80%;
  }
}

.numberflag {
  background-color: var(--tealblue);
  color: var(--white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
}

@media only screen and (max-width: 415px) {
  .numberflag {
    height: 45px;
    width: 45px;
    font-size: 30px;
  }
}

.section-intro {
  width: 75%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .section-intro {
    width: 100%;
  }
}

.design-sprint-intro {
  margin-bottom: 100px;
}
/* End Section Headers */


/* Start Side-by-Side */
.side-by-side {
  display: flex;
}

.side {
  margin-right: 2em;
  width: 80%;
}

.side p {
  padding-bottom: 1.5em;
}

@media only screen and (max-width: 1024px) {
  .side-by-side {
    display: block;
  }

  .side {
    margin-right: 0;
    width: 100%;
  }
}
/* End Side-by-Side */


/* Start Project Overview Section */
#section1 p {
  margin-top: 0;
  margin-left: 23px;
}

  @media only screen and (max-width: 415px) {
    #section1 p {
      margin-left: 10px;
    }
  }

#section1 li {
  list-style-type: unset;
  padding-bottom: 5px;
}

.arrow {
  padding: 0 1em;
}
/* End Project Overview Section */


/* Start User Persona Section */
#section2 .intro {
  text-align: center;
  padding-bottom: 2em;
}

.intro h2 {
  font-weight: bold;
  margin: 20px 0 5px;
}
/* End User Persona Section */


/* Start Sprint Planning Section */
.megan-large img {
  height: 500px;
}

@media only screen and (max-width: 1024px) {
  .megan-large img {
  height: 300px;
  }
}
/* End Sprint Planning Section */


/* Start Design Sprint 2 Section*/
.number-block {
  position: relative;
  width: 60%;
}

.number-block h2,
.number-block h5,
.number-block p {
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

.number-block h2 {
  font-weight: 900;
  margin-bottom: 0;
}

.number-block h5 {
  color: var(--blue);
  font-size: 21px;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 10px;
}

.number-block p {
  font-size: 21px;
  line-height: 1.6;
  margin-top: 5px;
}

.number {
  color: var(--green);
  font-weight: 900;
  font-size: 300px;
  position: absolute;
  top: -105px;
}

@media only screen and (max-width: 1260px) {
  .number {
    top: -80px;
  }
}

@media only screen and (max-width: 1023px) {
  .number {
    font-size: 200px;
    top: -25px;
  }

  .number-block h2,
  .number-block h5,
  .number-block p {
    margin-left: 135px;
  }
}

@media only screen and (max-width: 920px) {
  .number {
    top: 0;
  }

  .number-block {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
 .number-block {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
 .number {
    top: 25px;
  }

  .number-block h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 374px) {
  .number-block {
    position: static;
  }

  .number {
    position: static;
    font-size: 150px;
  }

  .number-block h2,
  .number-block h5,
  .number-block p {
    margin-left: 0;
  }

  .number-block h2 {
    margin-top: 0;
  }
}
/* End Design Sprint 2 Section*/