@media only screen and (min-width: 1024px) {
  .tmpl-project {
    width: 80%;
  }
}

.tmpl-project h1 {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  display: inline;
  padding: 0 7px;
}


/* Start Table of Contents */
.content-table {
  width: 200px;
  position: fixed;
  top: 20vh;
  right: 0;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .content-table {
    display: none;
  }
}

.content-table ol {
  padding-top: 10px;
  padding-left: 0;
}

.content-table li {
  list-style-type: none;
  width: max-content;
}

.content-table a {
  display: block;
  margin: 15px 0;
}

.content-table li.active > a {
  box-shadow: inset 0 -15px 0 var(--green);
}
/* End Table of Contents */


/* Start Number Flags */
.numberflag {
  background-color: var(--tealblue);
  color: var(--white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: bold;
  margin-right: 10px;
}

.underline {
  height: 2px;
  width: 100%;
  border-bottom: 1px solid var(--underline);
}
/* End Number Flags */


/* Start Project Overview Section */
.arrow {
  padding: 0 1em;
}
/* End Project Overview Section */