<div class="player">
  <button class="play-button"><i class="fad fa-play-circle" style="--fa-primary-color: var(--tealblue);"></i></button>
  <div class="overlay"></div>
  <div class="relative">
    <div class="phase1">
      <div class="message1">
        <img src="/img/premiumaudit/message1.svg" alt="intro message">
      </div>
      <div class="message2">
        <img src="/img/premiumaudit/message2.svg" alt="intro message">
      </div>
      <div class="copier2">
        {% include "audit-intro/copier2.svg" %}
      </div>
    </div>
  </div>

  <div class="phase2">
    <div class="message3">
      <img src="/img/premiumaudit/message3.svg" alt="intro message">
    </div>
    <img src="/img/premiumaudit/papers.svg" alt="images of papers">
  </div>
</div>
<p class="codepen-link">See my code on <a href="https://codepen.io/jamiecodegirl/pen/vYGGjQO" target="_blank">CodePen</a>.</p>