<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    {# Start my additions - cleanup head section later #}
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">

    {%- set css -%}
      {% include "css/global.css" %}
      {% include "css/home.css" %}
      {% include "css/project.css" %}
    {%- endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {# End my additions - clean up head section later #}
  </head>

  <body>
    <header>
      <div><img src="/img/logo.svg" height="65px" alt="logo"></div>

      <div class="project-navigation flex align-items{% if page.url == '/' %} display-none{% endif %}">
        <div class="flex align-items">
          <li class="fas fa-arrow-left"></li>
          <a class="project-nav-item" href="{{ '/' | url }}">Take Me Home</a>
        </div>
        <div>
          <p> | </p>
        </div>
        <div class="flex align-items">
          <a class="project-url project-nav-item" href="{{ page.url | url }}">{{ title }}</a>
          <li class="fas fa-arrow-down"></li>
        </div>
      </div>

      <div class="mobile-menu">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">
            <i class="fas fa-times"></i>
          </a>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item {% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
          <div class="margin-left-20">
            {% set projectslist = collections.projects %}
            {% include "projectslist.njk" %}
          </div>
        </div>
      
        <div id="openbtn">
          <a href="javascript:void(0);" class="close-icon" onclick="toggleNav()">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <div class="underline"></div>

    <footer>
      <div class="footer-left">
        <p>Jamie Thompson</p>
        <p>UX Designer + Developer</p>
        <p>&#169; 2020</p>
      </div>
      <div class="footer-right">
        <p><a href="mailto:hello@jamiethompson.design?subject=Message%20from%20jamiethompson.design">hello@jamiethompson.design</a></p>
        <p><a href="tel:1-913-850-0203">913-850-0203</a></p>
      </div>
      <div class="footer-right">
        <p><a href="https://www.linkedin.com/in/jamierthompson/" target="_blank">LinkedIn</a></p>
        <p><a href="https://codepen.io/jamiecodegirl/" target="_blank">CodePen</a></p>
        <p><a href="https://github.com/jamiecodegirl/" target="_blank">Github</a></p>
      </div>
    </footer>

    <script src="{{ '/script/index.js' | url }}"></script>
    <script src="https://kit.fontawesome.com/73b07144a7.js" crossorigin="anonymous"></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>