---
layout: layouts/base.njk
templateClass: tmpl-project
---

<nav class="content-table">
  {% for section in sections %}
    <li>
      <a href="#section{{ loop.index }}">{{ section }}</a>
    </li>
  {% endfor %}
</nav>

{{ content | safe }}

<ul class="bottom-project-nav">
  {%- set nextProject = collections.projects | getNextCollectionItem(page) %}
  {%- if nextProject %}<li>Previous: <a href="{{ nextProject.url | url }}">{{ nextProject.data.title }}</a></li>{% endif %}
  {%- set previousProject = collections.projects | getPreviousCollectionItem(page) %}
  {%- if previousProject %}<li>Next: <a href="{{ previousProject.url | url }}">{{ previousProject.data.title }}</a></li>{% endif %}
</ul>