---
layout: layouts/base.njk
templateClass: tmpl-project
---

<nav class="content-table">
  <li><a href="#section1">{{ section1.title }}</a></li>
  <li><a href="#section2">{{ section2.title }}</a></li>
  <li><a href="#section3">{{ section3.title }}</a></li>
  <li><a href="#section4">{{ section4.title }}</a></li>
  <li><a href="#section5">{{ section5.title }}</a></li>
  <li><a href="#section6">{{ section6.title }}</a></li>
  <li><a href="#section7">{{ section7.title }}</a></li>
  <li><a href="#section8">{{ section8.title }}</a></li>
  <li><a href="#section9">{{ section9.title }}</a></li>
  <li><a href="#section10">{{ section10.title }}</a></li>
</nav>

{{ content | safe }}

<ul class="bottom-project-nav">
  {%- set nextProject = collections.projects | getNextCollectionItem(page) %}
  {%- if nextProject %}<li>Previous: <a href="{{ nextProject.url | url }}">{{ nextProject.data.title }}</a></li>{% endif %}
  {%- set previousProject = collections.projects | getPreviousCollectionItem(page) %}
  {%- if previousProject %}<li>Next: <a href="{{ previousProject.url | url }}">{{ previousProject.data.title }}</a></li>{% endif %}
</ul>