  <div class="section-header flex">
    <div class="numberflag flex justify-center align-items">{{ section6.order }}</div>
    <div class="right-side">
      <h2 class="section-heading bold margin-0">{{ section6.title }}</h2>
      <div class="underline"></div>
    </div>
  </div>